.component-wrapper {
	min-width: 400px;
}
code {
	background-color: #fdfdfd;
	line-height: 1;
	white-space: pre-wrap !important;
}
.prism-code {
	width: 100%;
}
.brace.curly ~ .assignment,
.meta.delimiter.method.period.coffee + span {
	color: #0bf;
}
.embedded .meta.brace.round + span,
.embedded .brace.curly ~ .assignment,
.embedded .meta.brace.round + span,
.embedded .meta.delimiter.method.period.coffee + span {
	color: #75de00;
}
.embedded .meta.delimiter.method.period.coffee + span.component {
	border-bottom: none;
}
.embedded .meta.delimiter.method.period.coffee + span.component.vertical > * {
	margin: 10px 0;
}

pre {
	position: relative;
	line-height: 1.5;
	border: 1px solid #ccc;
	background-color: #fdfdfd !important;
}

pre *::selection {
	background: rgba(0, 0, 0, 0.1) !important;
	color: inherit;
}

pre[class*='language-'] {
	border: 1px solid #ccc;
	padding: 32px;
	border-radius: 4px;
	display: block;
	background-color: #fdfdfd;
	max-height: 400px;
	overflow: scroll;
}

code[class*='language-'] {
	text-align: left;
	white-space: nowrap;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	font-family: Roboto Mono, monospace;
	font-size: 16px;
	font-weight: 400;
	color: #3c3b68;
	border: 1px solid #ccc;
	overflow: scroll;
}

pre code[class*='language-'] {
	border: none;
}

table code[class*='language-']::before {
	content: '';
}

table code[class*='language-']::after {
	content: '';
}

table code[class*='language-'] {
	font-family: Roboto Mono, monospace;
	font-weight: 500;
	font-size: 16px;
	border: none;
}

p code,
div > code,
table > code,
li > code {
	font-family: Roboto Mono, monospace;
	font-weight: 500;
	font-size: 15px;
	border-radius: 4px;
	padding: 2px 6px;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #666;
}
.token.tag.punctuation,
.token.punctuation {
	color: #666;
}
.namespace {
	opacity: 0.7;
}
.token.property,
.token.tag > .token.tag,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ff8800;
}
.token.function,
.token.class-name {
	color: #ff8800;
}
.token.attr-name,
.token.number,
.token.keyword {
	color: #33aaee;
}
.token.number {
	color: #f97;
}
.token.constant {
	color: #00bbcc;
}
.token.attr-value,
.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #8855ff;
}
.token.operator {
	color: #999;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #3c3b68;
}
.token.atrule,
.token.keyword {
	color: #0bf;
}
.token.regex,
.token.important,
.token.variable {
	color: #3c3b68;
}
.token.important,
.token.bold {
	font-weight: 500;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
.has-highlight-line .line:not(.highlight-line) {
	opacity: 0.25;
}
